<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stationService" class="ua.twotwo.service.impl.StationServiceImpl"/>
    <bean id="saverStationService" class="ua.twotwo.service.impl.SaverStationServiceImpl"/>
    <bean id="trainAvailability" class="ua.twotwo.service.impl.TrainAvailabilityServiceImpl"/>
    <bean id="trainSchedule" class="ua.twotwo.service.impl.TrainScheduleServiceImpl"/>

    <bean id="restClient" class="ua.twotwo.client.RestClient"/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="alphabetBeans" class="ua.twotwo.utils.AlphabetBean"/>
</beans>